@model YouTubeVM

<div class="row justify-content-center text-center">
    <div class="col-lg-8 col-sm-auto">
        <h1 class="display-6">Jarvo's YouTube Downloader</h1>
        <h2 class="py-5">@Model.Title</h2>
        <div class="py-1">
            <form method="post" class="row">
                <input asp-for="Title" hidden />
                <input asp-for="URL" hidden />
                <input asp-for="MediaType" hidden />
                <input asp-for="Options" hidden />
                <input asp-for="FileName" hidden />

                <div class="row pt-2 justify-content-center">
                    <div class="col-4">
                        <button id="submitButton" type="submit" class="btn btn-primary form-control">Click here to Save your File</button>
                    </div>
                </div>

                <div id="loadingMessage" class="mt-2 text-center text-primary" style="display: none;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="fs-6">Your download has started...</p>

                    <div class="py-4">
                        <p class="fs-5"><a asp-controller="Home" asp-action="Index">Download another video?</a></p>
                    </div>
                </div>
            </form>
        </div>

        
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.querySelector("form"); // Selects the form
        var submitButton = document.getElementById("submitButton");
        var loadingMessage = document.getElementById("loadingMessage");

        form.addEventListener("submit", function () {
            // Disable button to prevent multiple clicks
            submitButton.disabled = true;
            submitButton.innerHTML = "Processing...";

            // Show loading message
            loadingMessage.style.display = "block";
        });
    });
</script>